@import url(./_roots.css);
.btn{
    padding: 8px 24px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary{
    border: 3px solid white;
    box-sizing: border-box;
    color: #fff;
    border-radius: 4px;
    transition: all .25s ease;
}
.btn-primary:hover{
    background-color: white;
    color: var(--primary-color);
    transform: translateY(-4px);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .4);
}
.btn-primary:active{
    background-color: white;
    color: var(--primary-color);
    transform: translateY(-1px);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .4);
}